body {
  max-width: 400px;
  margin: 0px auto;
  padding: 0px 20px;
}

/* Logo icon */
.logo-icon {
  width: 30px;
  height: 30px;
}

/* separator lines */

.separator {
  border-top: 1px solid #e9e9e9;
  margin: 20px 0;
}
