@use "./scss/theme-colors" as colors;

/* Containers */

.small-container {
  max-width: 400px;
}

// .small-container {
//   max-width: 860px;
//   margin: 0px auto;
//   padding: 0px 20px;
// }

/* Images */

.responsive-img {
  width: 100%;
  height: auto;

  // border-radius: 5px;
}

/* Separator lines */

.separator {
  border-top: 1px solid colors.$light-color;
  margin: 20px 0;
}

/* Center items */

.center-items {
  display: flex;
  justify-content: center;
}

.footer-margin {
  margin-top: 150px;
}

// hambuger menu
.navbar-collapse {
  position: relative;
}

.collapse {
  position: absolute;
  bottom: 100%;
  transition: none;
  background-color: colors.$white-color;
  padding: 55px;
  border: 1px solid colors.$light-color;
  border-bottom: none;
  border-right: none;
}

.background-color-button {
  background-color: colors.$white-color;
  border: none;
  color: colors.$dark-color;
  padding: 0;
  user-select: none;
}

.background-color-button:focus,
.background-color-button:active,
.background-color-button:hover {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: colors.$dark-color;
}

/* calender */

// .calendar .rbc-selected {
//   background-color: #007bff;
//   color: #fff;
// }

.background-color {
  background-color: colors.$light-color;
}

/* input */

.large-input {
  height: 150px;
  font-size: 18px;
  padding: 10px;
  vertical-align: top;
}

//

// .booking {
//   margin: 10px 0;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }
