@use "_theme-colors" as colors;

.filterButton {
  font-weight: 200;
}

.edit-button {
  padding: 0px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 11px;
}

.underline-button {
  color: colors.$dark-color;
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
  text-decoration: underline;

  &:hover {
    background-color: colors.$light-color;
    color: colors.$dark-color;
  }
}
.main-btn-color {
  background: linear-gradient(
    to bottom right,
    colors.$button-color-linear,
    colors.$button-color
  );
  color: black;
  border: none;
}

.input-group {
  position: relative;
}

.form-control {
  padding-right: 30px; /* Adjust this value based on the button's width */
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  color: none;
  background-color: transparent;
}
