@use "_theme-colors" as colors;

.filterButton {
  font-weight: 200;
}

.edit-button {
  padding: 0px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 27px;
}

.underline-button {
  color: colors.$dark-color;
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
  text-decoration: underline;

  &:hover {
    background-color: colors.$white-color;
    color: colors.$dark-color;
  }
}
