$logo-font-size: 12px;

.logo {
  font-size: $logo-font-size;
}

.center-text {
  text-align: center;
}

/* Logo icon */
.logo-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 13px;
}

/* Navbar icons */

.navbar-icon {
  width: 25px;
  height: 25px;
}
